
@{
    ViewBag.Title = "Formlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/dist/vendors/datatable/css/dataTables.bootstrap4.min.css" />
<link rel="stylesheet" href="~/dist/vendors/datatable/buttons/css/buttons.bootstrap4.min.css" />

<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0">Formlar</h4> <p><a href="@Url.Action("Index","FormSihirbazi")">Form Sihirbazı</a></p></div>
            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <li class="breadcrumb-item"><a href="#">Formlar</a></li>
                <li class="breadcrumb-item active">Anasayfa</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-3">
        <div class="card">
            <div class="card-header  justify-content-between align-items-center">
                <h4 class="card-title">Formlar</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display table dataTable table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Form Türü</th>
                                <th>Form Başlığı</th>
                                <th>Açıklama</th>
                                <th>Durum</th>
                                <th>Oluşturulma Tarihi</th>
                                <th>Soru Sayısı</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>Aktif</td>
                                <td>2011/04/25</td>
                                <td>20</td>
                                <td><button class="btn btn-sm btn-danger" onclick="aktifpasif()">Pasif Yap</button>&nbsp;<a class="btn btn-sm btn-primary" href="@Url.Action("FormDuzenle","FormSihirbazi")"><i class="icon-note"></i></a>&nbsp;<a class="btn btn-sm btn-warning" href="@Url.Action("FormDetay","FormSihirbazi")"><i class="icon-magnifier"></i></a></td>
                            </tr>                                                
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Form Türü</th>
                                <th>Form Başlığı</th>
                                <th>Açıklama</th>
                                <th>Durum</th>
                                <th>Oluşturulma Tarihi</th>
                                <th>Soru Sayısı</th>
                                <th>İşlemler</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/dist/vendors/jquery/jquery-3.3.1.min.js"></script>
<script src="~/dist/vendors/jquery-ui/jquery-ui.min.js"></script>
<script src="~/dist/vendors/moment/moment.js"></script>
<script src="~/dist/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/dist/vendors/slimscroll/jquery.slimscroll.min.js"></script>

<script src="~/dist/js/app.js"></script>

<script src="~/dist/vendors/datatable/js/jquery.dataTables.min.js"></script>
<script src="~/dist/vendors/datatable/js/dataTables.bootstrap4.min.js"></script>
<script src="~/dist/vendors/datatable/jszip/jszip.min.js"></script>
<script src="~/dist/vendors/datatable/pdfmake/pdfmake.min.js"></script>
<script src="~/dist/vendors/datatable/pdfmake/vfs_fonts.js"></script>
<script src="~/dist/vendors/datatable/buttons/js/dataTables.buttons.min.js"></script>
<script src="~/dist/vendors/datatable/buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/dist/vendors/datatable/buttons/js/buttons.colVis.min.js"></script>
<script src="~/dist/vendors/datatable/buttons/js/buttons.flash.min.js"></script>
<script src="~/dist/vendors/datatable/buttons/js/buttons.html5.min.js"></script>
<script src="~/dist/vendors/datatable/buttons/js/buttons.print.min.js"></script>

<script src="~/dist/js/datatable.script.js"></script>