
@{
    ViewBag.Title = "MobilEkip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12  align-self-center">
        <div class="sub-header mt-3 py-3 align-self-center d-sm-flex w-100 rounded">
            <div class="w-sm-100 mr-auto"><h4 class="mb-0">Mobil Ekip Modülü</h4><a href="@Url.Action("Index", "Home")"><p>Anasayfa</p></a></div>
            <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                <li class="breadcrumb-item"><a href="#">Mobil Ekip Modülü</a></li>
                <li class="breadcrumb-item active">Anasayfa</li>
            </ol>
        </div>
    </div>
</div>
<div class="row">
    @if (User.IsInRole("106"))
    {
        <div class="col-12 col-sm-6 col-xl-3 mt-3">
            <a href="@Url.Action("Randevular", "MobilEkip")">
                <div class="card bg-green-600 text-white h-100">
                    <div class="card-body text-center p-3 d-flex">
                        <div class="align-self-center text-center w-100">
                            <span class="icon-event h1 bg-green-600 text-white shadow-circle p-3 rounded-circle"></span>
                            <h2 class="card-title font-weight-bold mt-4">Randevular</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    @if (User.IsInRole("107"))
    {
        <div class="col-12 col-sm-6 col-xl-3 mt-3">
            <a href="@Url.Action("Index", "MobilEkip")">
                <div class="card bg-primary text-white h-100">
                    <div class="card-body text-center p-3 d-flex">
                        <div class="align-self-center text-center w-100">
                            <span class="icon-user-following h1 bg-primary text-white shadow-circle p-3 rounded-circle"></span>
                            <h2 class="card-title font-weight-bold mt-4">Hastalar</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
<style>
    .card-body {
        height: 235px;
    }
</style>