<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<configSections>
			<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
			<!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.10.2, Culture=neutral, PublicKeyToken=1b44e1d426115821" />-->
		</configSections>
		<root>
			<level value="ALL"></level>
			<appender-ref ref="AdoNetAppender" />
			<appender-ref ref="RollingLogFileAppender" />

		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\\LOGS\" />
			<datePattern value="'Ekip.log_'yyyy-MM-dd'.log'" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<appendToFile value="true" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout, log4net">
				<conversionPattern value="%date [%thread] %-5level %logger [%method] - %message%newline - %property{userid} \n" />
			</layout>
		</appender>
		<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1"/>
			<lossy value="false" />
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<connectionString value="data source=10.210.33.32;initial catalog=EkipProje;integrated security=false;persist security info=True;User ID=sa;password=E25B07*#" />
			<commandText value="INSERT INTO Log ([Date],[Thread],[Levels],[Logger],[Message],[Exception],[UserId],[Application],[Url],[UrlRefferer],[SessionID],[JsError],[IsletmeID]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception, @userid, @app, @url, @urlrefferer, @sessionid, @jserror, @isletmeid)"/>
			<parameter>
				<parameterName value="@log_date"/>
				<dbType value="DateTime"/>
				<layout type="log4net.Layout.RawTimeStampLayout"/>
			</parameter>
			<parameter>
				<parameterName value="@thread"/>
				<dbType value="String"/>
				<size value="2550"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%thread"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level"/>
				<dbType value="String"/>
				<size value="500"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%level"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@logger"/>
				<dbType value="String"/>
				<size value="2550"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%logger"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@message"/>
				<dbType value="String"/>
				<size value="4000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@exception"/>
				<dbType value="String"/>
				<size value="2000"/>
				<layout type="log4net.Layout.ExceptionLayout"/>
			</parameter>
			<parameter>
				<parameterName value="@userid"/>
				<dbType value="String"/>
				<size value="2000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{userid}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@isletmeid"/>
				<dbType value="String"/>
				<size value="2000" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{isletmeid}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@app"/>
				<dbType value="String"/>
				<size value="150" />
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="EkipProjesi.Web" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@url"/>
				<dbType value="String"/>
				<size value="2000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{url}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@urlrefferer"/>
				<dbType value="String"/>
				<size value="2000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{urlrefferer}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@sessionid"/>
				<dbType value="String"/>
				<size value="2000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{sessionid}" />
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@jserror"/>
				<dbType value="String"/>
				<size value="20000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%property{jserror}" />
				</layout>
			</parameter>
		</appender>
	</log4net>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
</configuration>